@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1060px;
  /*под проект*/
  margin: 0 auto;
  padding: 0 30px;
}

.btn {
  background-color: #0af;
  border-color: transparent;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  min-height: 30px;
  border-radius: 3px;
  cursor: pointer;
  margin-left: auto;
  margin-bottom: 15px;
  display: block;
}
.btn:hover {
  background-color: #009cf0;
}

.header {
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header__panel{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.logo {
  width: 200px;
  /* margin-right: 30px;
  margin-bottom: 15px; */
  display: flex;
}

.burger__menu{
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 3px solid rgb(94, 6, 167);
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #1f02417c;
}
.burger__menu-item{
  margin-bottom: 5px;
  border: 2px solid #8028a3;
  width: 35px;
  height: 4px;
  border-radius: 15px;
  transition: .5s ease-in-out;
  box-shadow: 0px 2px 1px #e7e1e170;
}
.burger__menu-item:last-child{
  margin-bottom: 0;
}
.burger__menu.open .burger__menu-item.first{
  transform: rotate(45deg) translate(5px, 6.5px);
}
.burger__menu.open .burger__menu-item.second{
  transform: translateX(-20px);
  opacity: 0;
}
.burger__menu.open .burger__menu-item.third{
  transform: rotate(-45deg) translate(5px,-6.5px);
}

.menu{
  transition: .5s ease-in-out;
}

.menu__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
}
.menu__link {
  margin-right: 15px;
  color: #009cf0;
}
.menu__link:hover {
  color: #ff6163;
}
.menu__link-last{
  margin-left: -5px;
  padding-left: 10px;
  border-left: 3px solid rgba(153, 153, 153, 0.301);
}


.search__form {
  display: flex;
  justify-content: space-between;
}
.search__label {
  flex-grow: 1;
  height: 40px;
}
.search__input {
  width: 100%;
  height: 100%;
  line-height: 30px;
  font-size: 21px;
  border: 2px solid #ccc;
  border-right-width: 1px;
  padding: 0 5px;
}
input.search__input::-webkit-input-placeholder {
  color: rgba(204, 204, 204, 0.281);
 } 
.search__btn {
  border: 2px solid #ccc;
  border-left-width: 1px;
  background-color: transparent;
}
.search__filter-container{
  margin-top: 5px;
  /* border: 2px solid rgb(88, 13, 228); */
  padding: 5px 10px;
  background: rgba(30, 34, 233, 0.384);
  box-shadow: 3px 3px 3px rgb(233, 225, 225);
  transition: 1s;
}
.search__filter-form{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.search__filter-form label{
  display: flex;
  align-items: center;
}
.search__filter-form input#deepSearchFilter{
  margin-left: 10px;
  width: 16px;
  height: 16px;
}



.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  grid-gap: 1rem;
  margin-top: 30px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card {
  cursor: pointer;
  box-shadow: 1px 2px 5px 0 rgba(174, 174, 174, 0.75);
  display: flex;
  flex-direction: column;
  position: relative;
}
.card__image {
  border: 1px solid #ccc;
  flex-grow: 1;
  object-fit: cover;
  max-height: 260px;
}
.card__description {
  padding: 15px;
}
.card__header {
  margin-top: 15px;
  color: #009cf0;
  font-weight: bold;
}
.card__price {
  margin-top: 10px;
  font-weight: bold;
}

.card__close-button{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 25px;
  transition: 1s;
  background: #fff;
  opacity: .9;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  color: red;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 170, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

form.modal__submit label input,
form.modal__submit label select,
form.modal__submit label textarea{
  max-width: 170px;
  flex: 1;
  height: fit-content;
  overflow: hidden;
}

.modal__block {
  background-color: #fff;
  padding: 30px;
  max-width: 600px;
  margin: 0 30px;
  position: relative;
}
.modal__block-delete{
  background-color: #fff;
  padding: 30px;
  max-width: 600px;
  margin: 0 30px;
  position: relative;
}
.modal__description-delete{
  display: flex;
  justify-content: center;
}

.modal__image {
  max-width: 200px;
  max-height: 200px;
  border: 1px solid #ccc;
  margin-right: 15px;
}
.modal__header {
  margin-bottom: 15px;
}
.modal__submit label {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.modal__submit input {
  margin-left: 15px;
}
.modal__btn-submit {
  display: block;
  margin-top: 15px;
  margin-left: auto;
}
.modal__btn-submit:disabled, .modal__btn-submit[disabled] {
  background-color: #cccccc;
  color: #666666;
}
.modal__btn-block {
  display: flex;
  align-items: center;
}
.modal__btn-warning {
  color: #BF3F4A;
}
.modal__content {
  display: flex;
}
.modal__description p {
  margin-top: 10px;
}
.modal__file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.modal__file-btn {
  line-height: 2;
  padding: 0 10px;
  text-align: center;
}
.modal__file-label {
  display: block !important;
}
.modal__file-label:hover {
  cursor: pointer;
}
.modal__file-label:hover span {
  background-color: #BF3F4A;
}
.modal__close {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  border-color: transparent;
  font-size: 24px;
  line-height: 24px;
}
.modal__close:hover {
  color: #009cf0;
}

.modal__delete-item h2{
margin-top: 25px;
}

.modal__delete-item .modal__description{
  display: flex;
  justify-content: center;
}

.modal__delete-button{
  margin-right: 10px;
  padding: 10px 50px;
  border-radius: 3px;
  border: none;
  transition: .5s ease-in-out;
}
.arrowUp__container{
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
}
.arrowUp__btn{
  margin: 0 15px 15px 0;
  background: white;
  border: 2px solid #3f52bf;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  box-shadow: 0px 2px 5px #3f52bf9a;
  z-index: 100;
  cursor: pointer;
  transition: .5s ease-in-out;
}
.arrowUp__btn-line{
  height: 2px;
  border: 3px solid #3f52bf;
  border-radius: 20%;
}
.arrowUp__btn-line:first-child{
  transform: rotate(-45deg) translate(-10px, 0);
}
.arrowUp__btn-line:last-child{
  transform: rotate(45deg) translate(8px, -5px);
}
.arrowUp-hide{
transform: scale(0);
opacity: 0;
}


.delete-true:hover{
  background-color: rgb(38, 228, 54);
} 
.delete-false:hover{
  background-color: rgb(236, 18, 18);
}

.hide {
  transition: 1s;
  display: none;
}

@keyframes hidingSearchFilter{
  from{
    
  }
  to{
    top: -10px;
  }
}




@media (max-width: 515px) {
  .html{
    scroll-behavior: smooth;
  }
  .burger__menu{
    display: flex;
  }
  .header{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  header .container{
    padding: 0 10px;
  }
  .header__panel{
    position: fixed;
    z-index: 100;
    box-shadow: 0 3px 5px #6b6b6b41;
    top: 0;
    padding: 0 10px;
    background: #fff;
  }
  .menu.menu-hide{
    margin-bottom: -280px;
    opacity: 0;
    z-index: -1000;
  }
  .fake__wrapper{
    height: 70px;
  }
  .btn.add__ad{
    display: block;
    margin-left: 0;
    margin-bottom: 0;
    width: 100%;
    height: 50px;
    font-size: 20px;
  }
.menu{
  width: 100%;
}
  .menu__container li.menu__link{
    background-color: #33136da1;
    margin: 0px 0px 2px 0px;
    color: #fff;
    font-size: 20px;
    width: 100%;
    box-shadow: 0px 1px 5px rgb(180, 175, 175);
    height: 50px;
    
  }
  .menu__link a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
  }



  .catalog {
    justify-content: center;
  }
  .menu__container{
    flex-direction: column;
  }

  /*Work with modals*/
  .modal__block{
    margin: 0;
    height: 100vh;
    width: 100vw;
  }
  
  .modal__content{
    flex-direction: column;
  }
  .modal__description{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal__btn-block{
    flex-direction: column;
  }
  .modal__btn-block .btn{
    width: 100%;
  }
  .modal__description p{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #3f52bf;
    padding: 5px 5px;
    margin-bottom: 5px;
    background-color: #3f52bf4b;
    border-radius: 3px 3px 0  0;
  }
  .modal__description p span:first-child{
    width: 100%;
  }
  .modal__description p span:nth-child(2n){
    width: 100%;
    color: white;
  }
  .modal__description .btn{
    margin-top: 15px;
    width: 100%;
  }
  .img-wrapper{
    display: flex;
    justify-content: center;
  }
  .modal__close{
    top:10px;
    right: 10px;
  }
  
}
/*# sourceMappingURL=style.css.map6 */
